.dish {
  position: relative;
  padding: 26px 32px 0px 156px;
  background-color: lightblue;
  border-radius: 25px 0 0 25px;
}

.dish__img {
  width: 150px;
  height: auto;
  position: absolute;
  top: -24px;
  left: -12px;
}

.dish__img--clone {
  transform: translate(0, 0);
  animation: addToCard 0.3s ease-in forwards;
  pointer-events: none;
}

.dish__title {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
}

.dish__price {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.dish__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(16px);
  font-family: inherit;
  background-color: var(--primary-purple);
  color: white;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 4px 18px;
  cursor: pointer;
}

.dish__btn:focus,
.dish__btn:hover {
  filter: hue-rotate(15deg);
}

.dish__btn:active {
  filter: hue-rotate(30deg);
}

.dish__btn--inCard {
  background-color: black;
}

.dish__btn-inner {
  display: flex;
  align-items: center;
  gap: 8px;
}

@keyframes addToCard {
  to {
    top: var(--toY);
    left: var(--toX);
    opacity: 0;
  }
}
